A2: Python Exercises
Alvaro Flores Martinez 1991812
Thursday V4-V6

In [81]:
message = input("Tell me your name: ")

name1 = "Peter"
name2 = "Ana"
name3 = "John"

if message==name1:
  print()
elif message==name2:
  print()
elif message==name3:
  print()
else:
  print("Greetings " + message)

Tell me your name: Alvaro
Greetings Alvaro

In [75]:
friends = ["Jose", "Juan", "Tadeo", "Moises", "Marcos"]
print(friends[4])
friends.reverse()
print(friends)

Marcos
['Marcos', 'Moises', 'Tadeo', 'Juan', 'Jose']

In [79]:
 
def print_in_a_frame(*words):
    size = max(len(word) for word in words)
    print('*' * (size + 4))
    for word in words:
        print('* {:<{}} *'.format(word, size))
    print('*' * (size + 4))

print_in_a_frame("Alvaro", "Flores", "Martinez", "1991812", "Biomedical", "Engineering")

***************
* Alvaro      *
* Flores      *
* Martinez    *
* 1991812     *
* Biomedical  *
* Engineering *
***************